.containerForm{
    width:50vw;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    //border: 1px solid grey;
    box-shadow: 1px 2px 15px grey;
    form{
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        .input{
        
            width: 60%!important;
            margin: 2.5%!important;
        }
    }
}

h1{
    font-size: 30px!important;
    margin: 0!important;
}