.center{ 
    border: 1px solid grey;
    border-top: none;
    height: 80vh;
}
.reader{
    border-right: 1px solid grey;
    height: 100%;
}

.users{
    padding: 0!important;
    background-color: #F5F5F5
    ;
    height: 100%;
    border-right: none;
}